.cat-info {
    display: flex;
    color: aquamarine;
    width: 250px;
    height: 60px;
    margin-top: 200px;
    color: #000;
    color: #000;
};

.photoCat {
    background-color: aqua;
    width: 150px;
    height: 50px;
};

.nameCat {
    background-color: blueviolet;
    width: 100px;
    height: 15px;
};

.discribeCat {
    background-color: brown;
    width: 100px;
    height:50px;
};

.textCat {
    background-color: blue;
    width: 100px;
    height: 35px;
;}